:80 {
  handle_path /healthz* {
    respond "ok" 200
  }

  handle /dist* {
    root * /srv/emulatorjs
    file_server
  }

  handle_path /emulator/* {
    root * /srv/emulatorjs/dist
    file_server
  }

  handle {
    root * /srv/emulatorjs/dist
    file_server
  }
}
