.stack {
  display: flex;
  flex-direction: column;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  width: 100%;
}

.section {
  width: 100%;
  margin: 0 auto;
  padding-block: var(--pixellab-spacing-md, 1rem);
}
